.tmResults {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.tmResults h1 {
    text-align: center;
    font-size: 48px;
    color: white;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 5%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2%;
}
hr {
    border: 1px solid crimson;
}
.heading {
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-align: left;
    border-bottom: 2px solid crimson;
    padding-bottom: 2%;
}
.tableData {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-right: 1%;
}
.tableData a {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-decoration: none;
}
.tableRow {
    transition: 0.5s ease;
    color: white;
}
.tableRow:hover {
    color: crimson;
}
.date {
    width: 10%;
}
.eventName {
    width: 35%;
}
.venue {
    width: 25%;
}
.location {
    width: 15%;
}
.tickets {
    width: 15%;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1010px) {
    .tableData, .tableData a {
        font-size: 14px;
    }
    .tmResults h1 {
        font-size: 40px;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .heading {
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px) {
    .venueHeader, .venue {
        display: none;
    }
    .tmResults h1 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 500px) {
    .locationHeader, .location {
        display: none;
    }
    .tableData, .tableData a {
        font-size: 12px;
    }
    .heading {
        padding-bottom: 4%;
    }
    .tableData {
        padding-top: 4%;
        padding-bottom: 2%;
    }
    .tmResults h1 {
        font-size: 24px;
    }
}
