.landingWrapper {
    background-image: url('../../assets/background.png');
    background-size: cover;
    min-height: 100vh;
}
.resultsWrapper {
    background-image: url('../../assets/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.slider {
    width: 35%;
    display: block;
    margin: auto;
    padding-top: 5%;
}
.description {
    width: 55%;
    display: block;
    margin: auto;
    margin-top: 2%;
}
.description p {
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 38px;
    font-family: 'Roboto Condensed', sans-serif;
}
.form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.form input[type=text] {
    padding-left: 1%;
  }
.searchInput {
    width: 50%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-right: 1%;
    border-radius: 4px;
}
.seachButton {
    width: 10%;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}
.seachButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.seachButton span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.seachButton:hover span {
    padding-right: 25px;
}
.seachButton:hover span:after {
    opacity: 1;
    right: 0;
}
.errorWrapper {
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}
.errorWrapper h1 {
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
}