.footer {
    width: 90%;
    display: block;
    margin: auto;
    border-top: 2px solid crimson;
    display: flex;
    justify-content: space-between;
}
.footer p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: white;
    padding-top: 2.5%;
    padding-bottom: 3%;
}
.iconWrapper {
    width: 60%;
    padding-top: 8px;
}
.icon {
    width: 8%;
    float: right;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1010px) {
    .icon {
        width: 10%;
    }
}
@media only screen and (max-width: 800px) {
    .footer p {
        font-size: 16px;
        padding-bottom: 6%;
        padding-top: 4%;
    }
}

@media only screen and (max-width: 610px) {
    .footer p {
        font-size: 14px;
    }
    .icon {
        width: 12%;
    }
}

@media only screen and (max-width: 520px) {
    .iconWrapper {
        width: 40%;
    }
    .icon {
        width: 18%;
    }
}

@media only screen and (max-width: 520px) {
    .icon {
        width: 22%;
    }
}